.dash {
    width: 100%;
    display: flex;
    position: relative;
}
/* 
.mainOverlay {
    flex: 1;
    background-color: #f5f6fa;
    padding: 36px 32px 46px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
} */
/* .dash {
    background: #f5f6fa;
    height: fit-content;
} */

.main {
    margin-top: 32px;
}

.dashCont {
    flex: 1 1;
    background-color: #f5f6fa;
    padding: 36px 32px 46px 316px;
    height: 100vh;
    overflow-y: scroll; -ms-overflow-style: none;
        scrollbar-width: none; 
}

.dashCont::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 519px) {
    .sidebar {
        display: block;
        width: 100%;
        transition: all 3s ease-in;
    }

    .sidebarActive {
        display: none;
    }

    .dashCont {
        width: 100%;
    }
}
