.profileSingle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 24px 24px 32px;
    background: #ffffff;
    box-shadow: 0px 0px 27px 4px rgba(204, 204, 204, 0.2);
    border-radius: 12px;
    margin-top: 24px;
    cursor: pointer;
}

.profileIcon {
    width: 6%;
    max-width: 38px;
}

.profileText {
    width: 90%;
}

.profileText p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #303030;
}
