.storefrontPopup {
    width: 48%;
    max-width: 600px;
    background-color: white;
    border-radius: 50px;
    margin: 32px auto;
    position: absolute;
    top: 3%;
    left: 33%;
    z-index: 10;
}

.innerDiv {
    margin: 0px;
    padding: 0px;
    height: 80vh;
    overflow: scroll;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.innerDiv::-webkit-scrollbar {
    display: none;
  }
  
@media screen and (max-width: 500px) {
    .storefrontPopup {
        width: 90%;
        left: 4%;
    }

    .innerDiv {
        width: 100%;
        max-width: 100%;
    }
}
