.verifyCov {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body {
    text-align: center;
    width: 44%;
    background: #fefefe;
    border: 1px solid rgba(219, 219, 219, 0.6);
    box-shadow: 0px 0px 74px -10px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 4.92rem 4.8rem;
}
.verifyEmail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    width: 277px;
    color: #005b82;
}
.hi {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 70%;
    text-align: center;
    color: #a5a5a5;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.email {
    display: flex;
    justify-content: center;
}

.check {
    transform: translate(48%, 25%);
    animation: stroke 1s ease-in-out forwards 1;
}
.checkBox {
    transform: translate(36%, 0px);
}

.body button {
    width: 300px;
}

@media screen and (max-width: 475px) {
    .body {
        width: 70%;
    }
}

@media screen and (max-width: 374px) {
    .body {
        width: 90%;
    }
}
