.beneficiary {
    margin-bottom: 48px;
}

.beneficiaryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beneficiaryHeader h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
}

.beneficiaryHeader p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0px;
    color: #bdbdbd;
    cursor: pointer;
}

.beneficiaryBody {
    margin-top: 12px;
    width: 100%;
}

.beneficiaryBody h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
    margin-top: 8px;
}

.beneficiarySingle:first-child {
    margin-left: 0px;
}

.beneficiarySingle {
    width: 25%;
    max-width: 100px;
    margin-left: 24px;
    display: inline-block;
}

.beneficiarySingle svg {
    margin: 0px auto;
    display: block;
}

.beneficiarySingle div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficiarySingle div img {
    margin: auto;
}

.name {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #a4a4a4;
    margin-top: 5px;
}

.benebank {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0px;
    margin-top: 2px;
    color: #a4a4a4;
    text-align: center;
}
