.secondBody {
    width: 48%;
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    margin: 32px auto;
    display: flex;
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 10;
}

.secondCont {
    width: 67%;
    margin: 64px auto;
}

.secondCont h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #005b82;
    font-family: 'Inter', sans-serif;
    margin-bottom: 4px;
}

.secondCont .intro {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #b5b5b5;
    font-family: 'Inter', sans-serif;
    margin-bottom: 32px;
}

.secondCopy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    padding: 8px 24px;
    margin-bottom: 60px;
    border-radius: 12px;
}

.secondCopyCode {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: #f8f8f8;
    padding: 8px 24px;
    margin-bottom: 60px;
    border-radius: 12px;
}

.secondCopyCode div {
    width: 90%;
}

.secondCopyCode div img {
    margin: 0px auto;
    display: block;
}

.secondCopyCode button {
    width: 31px;
    background-color: transparent;
    color: #529b03;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.secondCopy p {
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #3e3e3e;
    font-family: 'Inter', sans-serif;
}

.secondCopy button {
    width: 31px;
    background-color: transparent;
    color: #529b03;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.deadline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid #dbdbdb;
}

.deadline p {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #455a64;
    line-height: 15px;
}

.deadlines {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.deadlines p {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #455a64;
    line-height: 15px;
}

.deadlineValues {
    text-align: left;
    width: 70%;
}

.deadline span {
    margin-right: 4px;
}

.destination {
    margin-top: 32px;
    border-bottom: 1px solid #dbdbdb;
}

.destination h2 {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #3e3e3e;
    line-height: 15px;
    margin-bottom: 12px;
}

.destinationType {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: 12px 0px;
    align-items: center;
    margin-bottom: 16px;
}

.destinationTypeTitle {
    border-right: 1px solid #7a7978;
    padding: 5px 24px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #455a64;
    line-height: 15px;
    cursor: pointer;
}

.destinationTypeTitle img {
    margin: 8px auto;
    display: block;
}

.destinationTypeValue {
    padding: 5px 24px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #3e3e3e;
    line-height: 15px;
    cursor: pointer;
}

.addnew {
    margin-top: 8px;
    text-align: center;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #7a7978;
    cursor: pointer;
    margin-bottom: 32px;
}

.allLinks {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 17px;
    text-align: center;
    margin-top: 32px;
    color: #3e3e3e;
}

.allLinks span {
    color: #5f8903;
    font-weight: 600;
}

.secondCont button {
    margin-top: 0px;
}

.NFC {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3e3e3e;
    margin: 32px 0px;
}
