.paymentSingleBody {
    background: #ffffff;
    box-shadow: 0px 0px 26px #ededed;
    border-radius: 16px;
    min-width: 100px;
    width: 20%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.makePara {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 14px;
    display: block;
    margin-top: 16px;
    color: #2f2f2f;
    cursor: pointer;
}

.receivePara {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 14px;
    display: block;
    margin-top: 16px;
    color: #005b82;
    cursor: pointer;
}

.paymentSingleImg {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    margin: 0px auto;
}

.paymentSingleText {
    width: 80%;
    margin: auto;
}
