.divInputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.divInputs input {
    width: 15%;
    font-size: 30px;
    text-align: center;
    /* padding: 29px 23px; */
    height: 70px;
    border: 1px solid #e6ebee;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    border-radius: 8px;
    color: #102572;
    padding: 0px;
}
.divInputs input:focus {
    border: 1px solid #6ccf00;
    transition: all 0.2s ease-in-out;
}
.trans {
    display: flex;
    gap: 15px;
}
/* .pinInputs {
    width: 34%;
    margin: 0px auto;
    display: flex;
    gap: 16px;
    background-color: #fff;
    /* padding: 16px 24px; */
/* box-sizing: border-box; */
/* } */

/* .pinInputs input {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0px !important;
    font-size: 55px;
    color: #6ccf00 !important;
}  */
