.bodyWrapper {
    width: 54%;
    max-width: 400px;
    margin: 0px auto;
}

.sectionI {
    width: 50%;
    width: 37%;
    max-width: 470px;
}

.sectionII {
    flex: 1;
    padding: 120px 0px;
}

.LeftHeading {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #102572;
    margin: 0px;
}

.formWrapper {
    height: 75vh;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.formWrapper::-webkit-scrollbar {
    display: none;
  }
  


/* .formWrapper::-webkit-scrollbar {
    display: none;
} */

.formWrapper button {
    margin-top: 48px;
}

.cardHeading p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 33px;
    color: #102572;
    margin: 0px;
}

.phone {
    display: flex;
    margin-top: 8px;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 16px 24px;
}

.phone input {
    padding: 0px;
    background-color: transparent;
    border: 0px;
    padding-left: 12px;
}

.phone .phoneHeader {
    width: 30%;
    display: flex;
    align-items: center;
    border-right: 1px solid #7a7978;
}

.phone .phoneHeader p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7a7978;
    margin-left: 5px;
}

.phone span {
    width: 26px;
}

.phone span img {
    width: 100%;
}

.phoneDetails {
    display: flex;
    width: 70%;
    align-items: center;
}

.phoneDetails p {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12px;
    color: #6ccf00;
    margin-top: 2px;
}
.error {
    color: red;
    font-size: 16px;
}

@media screen and (max-width: 1070px) {
    .bodyWrapper {
        width: 80%;
    }
}

@media screen and (max-width: 901px) {
    .formWrapper {
        height: unset;
        overflow: unset;
    }
}

@media screen and (max-width: 500px) {
    .bodyWrapper {
        width: 90%;
    }
}
