.registeredBody {
    display: flex;
}

.sectionI {
    background: url('/Assets/Images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.bvn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 40vh;
    max-width: 417px;
}
.bvn span {
    color: #6ccf00;
}

.sectionII {
    width: 50%;
    height: 100vh;
    padding: 120px 0px;
}

.bodyWrapper {
    width: 54%;
    max-width: 400px;
    margin: 0px auto;
}

.profileBody {
    height: 70vh;
    overflow-y: scroll;
}

.profileBody::-webkit-scrollbar {
    display: none;
}

.cardHeading {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.LeftHeading {
    display: flex;
    justify-content: space-evenly;
    /* identical to box height */
    color: #005b82;
}
.ButtonWrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 1rem;
    background: #f8f8f8;
    border-radius: 12px;
}
.ToggleNo {
    width: 50%;
    height: 50px;
    background: #6ccf00;
    border-radius: 12px;
    cursor: pointer;
}
.ToggleNo:hover {
    background: #6ccf00;
    transition: all 0.2s ease-in-out;
}
.ToggleYes {
    width: 50%;
    height: 50px;
    border-radius: 12px;
    background: #f8f8f8;
    cursor: pointer;
}
.ToggleYes:hover {
    background: #6ccf00;
    transition: all 0.2s ease-in-out;
}
.ToggleNoText {
    color: #ffffff;
    text-align: center;
}
.ToggleYesText {
    color: #a5a5a5;
    text-align: center;
}
.phone {
    display: flex;
    margin-top: 8px;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 16px 24px;
}

.phone input {
    padding: 0px;
    background-color: transparent;
    border: 0px;
    padding-left: 12px;
}

.phone .phoneHeader {
    width: 30%;
    display: flex;
    align-items: center;
    border-right: 1px solid #7a7978;
}

.phone .phoneHeader p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7a7978;
    margin-left: 5px;
}

.phone span {
    width: 26px;
}

.phone span img {
    width: 100%;
}

.phoneDetails {
    display: flex;
    width: 70%;
    align-items: center;
}

.phoneDetails p {
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 12px;
    color: #6ccf00;
    margin-top: 2px;
}
