.shopBanner > h1 {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.addCart {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-row-gap: 15%;
    grid-column-gap: 2%;
}
.shopNow {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #3b4f36;
}
.shopBanner {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.6) 100%
        ),
        url(/Assets/Images/Rectangle79.png), lightgray 50% / cover no-repeat;
    padding: 49px 24px;
    border-radius: 15px;
}
.top {
    display: flex;
    justify-content: flex-start;
}
.top p {
    color: #005b82;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.items {
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    display: flex;
    width: 307px;
    height: 320px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addtoCrta {
    border: 1px solid #dbdbdb;
    background: rgba(16, 37, 114, 0.05);
    display: flex;
    height: 48px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--primary-deep-blue, #102572);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.proce {
    display: flex;
    gap: 5px;
}
.proce h1 {
    color: #7a7978;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}
.proce p {
    color: #7a7978;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: strikethrough;
    margin: 0px;
}
.round {
    overflow: hidden;
    color: #263238;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.roundDiv {
    margin-left: 10px;
}
