.topSide{
    text-align: center;
    width: 56.5%;
    margin-top: 80px;
    margin-bottom: 47px;
}
.topFlex{
    display: flex;
    justify-content: center;
}
.topSide > h2{
    color:  #343434;
    margin-bottom: 12px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px; /* 119.444% */
}
.topSide > p{
    margin: 0px;
    color: #999;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
}
.improvements{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 4%;
    grid-row-gap: 20px;
}
.improvements div div > h1{
    color: #363940;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
}
.improvements div div > p{
    color: #999;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    width: 160px;
    line-height: 24px; /* 171.429% */
}
@media screen and (max-width: 1098px) {
.improvements {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 4%;
    grid-row-gap: 20px;
}
}