.breg {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bregLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.bregLeft > h2 {
    color: #2b4551;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.bregLeft > p {
    color: var(--color-black-300, #545454);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
.level {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.level hr {
    height: 1px;
    width: 19px;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.active > div {
    border-radius: 8px;
    border: 0.5px solid var(--primary-deep-blue, #102572);
    background: rgba(16, 37, 114, 0.1);
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--primary-deep-blue, #102572);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.bregRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 58%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    height: 82vh;
    overflow: scroll;
}
.reg {
    color: #2b4551;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.inactive > div {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: rgba(151, 151, 151, 0.12);
    color: var(--neutral-color-ecobank-mid-gray, #979797);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.inactive {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.active p {
    margin: 0px;
    color: var(--color-black-500, #000b0f);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inactive p {
    margin: 0px;
    color: var(--color-black-500, #000b0f);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
