<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <style></style>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="" />
    </head>
    <body>
        <div class="m_-3339953164582713092email-container">
            <div>
                <img
                    src="https://ci3.googleusercontent.com/proxy/G8kMchVH5H5r7xmGgHstq6prEYBcjMhmjL9Bj5qZRqsRxRv9mjHATg=s0-d-e1-ft#http://./ellevate.svg"
                    alt=""
                    class="CToWUd"
                    data-bit="iit"
                />
                <div class="m_-3339953164582713092email-wrapper">
                    <span class="im">
                        <h2 class="m_-3339953164582713092verify">
                            Verify your email address
                        </h2>
                        <p>Hello ,</p>
                    </span>
                    <p>
                        We need to verify that (<a
                            href="mailto:agbajeolaiwola%2B2@gmail.com"
                            target="_blank"
                            >agbajeolaiwola+2@gmail.com</a
                        >) is your email address, and then we can use it with
                        your Ellevate account.
                    </p>
                    <span class="im">
                        <p>
                            To verify this email address click on the button
                            below.
                        </p>
                        <a
                            style="text-decoration: none;"
                            href="https://ellevate.netlify.app/verify?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImVtYWlsIjoiYWdiYWplb2xhaXdvbGErMkBnbWFpbC5jb20iLCJ0b2tlblR5cGUiOiJWRVJJRllfRU1BSUwifSwiaWF0IjoxNjcwNTE3NTkzLCJleHAiOjE2NzA2MDM5OTN9.yvHOwd39ptDoQGPFVHG6Z6wg8oZJ8PyRYAOsYwmYXQs"
                            target="_blank"
                            data-saferedirecturl="https://www.google.com/url?q=https://ellevate.netlify.app/verify?token%3DeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7ImVtYWlsIjoiYWdiYWplb2xhaXdvbGErMkBnbWFpbC5jb20iLCJ0b2tlblR5cGUiOiJWRVJJRllfRU1BSUwifSwiaWF0IjoxNjcwNTE3NTkzLCJleHAiOjE2NzA2MDM5OTN9.yvHOwd39ptDoQGPFVHG6Z6wg8oZJ8PyRYAOsYwmYXQs&amp;source=gmail&amp;ust=1670840462249000&amp;usg=AOvVaw2rzfk-ld-EeXOOUks_730K"
                            ><button>Verify your Email</button></a
                        >
                        <h3 class="m_-3339953164582713092thanks">Thanks.</h3>
                        <h3 class="m_-3339953164582713092team">
                            Ellevate Team
                            <span
                                ><img
                                    data-emoji="👍"
                                    class="an1"
                                    alt="👍"
                                    aria-label="👍"
                                    src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f44d/72.png"
                                    loading="lazy"
                            /></span>
                        </h3>
                        <div class="yj6qo ajU">
                            <div
                                id=":34"
                                class="ajR"
                                role="button"
                                tabindex="0"
                                data-tooltip="Show trimmed content"
                                aria-label="Show trimmed content"
                                aria-expanded="false"
                            >
                                <img
                                    class="ajT"
                                    src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"
                                />
                            </div>
                        </div>
                        <div class="adL"></div
                    ></span>
                </div>
                <div class="adL">
                    <div class="adm">
                        <div id="q_1" class="ajR h4">
                            <div class="ajT"></div>
                        </div>
                    </div>
                    <div class="h5">
                        <p class="m_-3339953164582713092ellevate">
                            Ellevate by Ecobank.
                        </p>
                        <p class="m_-3339953164582713092rights">
                            © 2022 All Rights Reserved
                        </p>
                        <p class="m_-3339953164582713092plot">
                            Plot 270B1, Ozumba Mbadiwe, Victoria Island,
                        </p>
                        <p class="m_-3339953164582713092address">Lagos.</p>
                    </div>
                </div>
            </div>
            <div class="adL"></div>
        </div>

        <script src="" async defer></script>
    </body>
</html>
