.imageOut{
    display: flex;
    justify-content: center;
}
.imageInner{
    overflow: hidden;
    border-radius: 50%;
    height:43vh;
    border: solid 20px  rgba(62, 142, 198, 0.7);
    /* #6CCF00; */
}
.imageInnerActive{
    overflow: hidden;
    border-radius: 50%;
    height:43vh;
    border: solid 20px  #6CCF00;
}
.finish{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* or 161% */


color: #005B82;

}

.takeSelf{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
margin-bottom: 82px;
/* identical to box height */


color: #005B82;

}