.profileHeaderHead {
    display: flex;
    width: 100%;
    background: #69940d;
    border-radius: 16px;
    padding: 25px 0px 25px 32px;
    position: relative;
    z-index: 2;
}
.profileHeaderImg {
    width: 50px;
    height: 50px;
}
.deleteAccount {
    cursor: pointer;
    color: #3e3e3e;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}
.profileHeaderImg img {
    border-radius: 50%;
}
.statementCover {
    height: fit-content;
    border-radius: 15px;
    padding: 20px 15px;
}

.TableDetailHeader {
    display: flex;
    width: 100%;
    background: #f5f6fa;
    border-radius: 4px;
    padding: 10px 0px 10px 24px;
    align-items: center;
}

.TableDetailHeader p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #3e3e3e;
    line-height: 17px;
    text-align: left;
}

.beneficiary {
    width: 30%;
}

.type {
    width: 13%;
}

.amount {
    width: 30%;
}

.status {
    width: 14%;
}

.more {
    width: 30%;
}

.date {
    width: 14%;
}
.nodisputes {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}
.nodisputesHeading {
    margin-bottom: 30px;
}
.profileBodyHeadImg img {
    border-radius: 50%;
}

.profileBodyHeaderCont {
    flex: 1;
    margin-left: 24px;
}
.toGet {
    font-size: 12px;
    color: #303030;
}
.cancel {
    display: flex;
    justify-content: flex-end;
}
.cancel svg {
    cursor: pointer;
}
.deleteInner {
    padding: 30px;
}
.profileBodyHeaderCont h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #ffffff;
}

.profileBodyHeaderCont p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin: 0px;
    text-transform: capitalize;
}

.saveBene {
    display: flex;
    align-items: center;
}

.beneCheck {
    position: relative;
    width: 48px;
    height: 18px;
    cursor: pointer;
    margin-bottom: 0px !important;
}

.beneCheck input {
    position: absolute;
    z-index: 1;
    width: unset;
    display: none;
}

.beneCheck span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: #eceef4;
    border-radius: 100px;
    transition: 0.5s;
}

.beneCheck span i {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #dfdfdf;
    bottom: -2px;
    top: -2px;
    left: -4px;
    transition: 0.5s;
}

.beneChecked {
    position: relative;
    width: 48px;
    height: 18px;
    cursor: pointer;
    margin-bottom: 0px !important;
}

.beneChecked input {
    position: absolute;
    z-index: 1;
    width: unset;
    display: none;
}

.beneChecked span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: #eceef4;
    border-radius: 100px;
    transition: 0.5s;
}

.beneChecked span i {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #dfdfdf;
    bottom: -2px;
    top: -2px;
    left: -4px;
    transition: 0.5s;
}

.beneChecked span i {
    left: 24px;
}

.beneChecked span {
    background-color: #6ccf00;
}

.subProfileHead {
    display: flex;
    background: #f5f8ee;
    border-radius: 16px;
    margin-top: -20px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    width: 100%;
    margin-bottom: 32px;
}

.freezeAccount {
    display: flex;
    align-items: center;
    width: 45%;
}

.freezeAccount p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #303030;
    margin-right: 8px;
}

.accountNumber {
    width: 50%;
}

.accountNumber h4 {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
    /* margin-top: 14px; */
}

.accountNumber div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accountNumber div p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #303030;
}

.accountNumber div h5 {
    margin: 0px;
    background: rgba(105, 148, 13, 0.1);
    border-radius: 8px;
    margin-left: 4px;
    padding: 6px 8px;
    cursor: pointer;
}

.referralCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.referralCode {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 100%;
}

.referralCode span {
    color: #102572;
    font-size: 20px;
    font-weight: 600;
}

.referralCont h5 {
    margin: 0px;
    background: rgba(105, 148, 13, 0.1);
    border-radius: 8px;
    margin-left: 4px;
    padding: 6px 8px;
    cursor: pointer;
}

.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135.52%;
    margin: 0px;
    color: #3e3e3e;
}

.title span {
    margin-right: 21px;
    cursor: pointer;
}

.profileBodyHead {
    margin-top: 64px;
}

.profileBodyHeadImg {
    width: 100px;
}

.formGroup {
    margin-top: 24px;
}

.formGroup label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-bottom: 8px;
    color: #7a7978;
}

.formGroup input {
    background: #f4f4f4;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
}

.phone {
    display: flex;
    margin-top: 8px;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 16px 24px;
}

.phone input {
    padding: 0px;
    background-color: transparent;
    border: 0px;
    padding-left: 12px;
}

.phone .phoneHeader {
    width: 15%;
    display: flex;
    align-items: center;
    border-right: 1px solid #7a7978;
}

.phone .phoneHeader p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7a7978;
    margin-left: 5px;
}

.phone span {
    width: 26px;
}

.phone span img {
    width: 100%;
}

.phoneDetails {
    display: flex;
    width: 70%;
    align-items: center;
}

.phoneDetails p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
    margin-left: 12px;
}

.phoneDetails input,
.phoneDetails input::placeholder {
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
}

.profileBody button {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-top: 48px;
}

.profileBodyButton {
    max-width: 232px;
    width: 35%;
}

.error {
    color: red !important;
    font-size: 12px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.manageLimitBody {
    margin-top: 48px;
}

.manageLimit label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #303030;
    display: block;
    margin-bottom: 16px;
}

.manageLimitSingle {
    width: 100%;
    justify-content: space-between;
    padding: 16px 32px 16px 24px;
    display: flex;
    background: #f8f8f8;
    border-radius: 8px;
    margin-bottom: 24px;
}

.manageLimitSingleHead p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
    margin-bottom: 16px;
}

.manageLimitSingleBody p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #303030;
    margin: 0px;
    margin-bottom: 16px;
}

.manageLimitSingleHead p:last-child,
.manageLimitSingleBody p:last-child {
    margin-bottom: 0px;
}

.manageLimitImg .img {
    width: 100%;
    margin-top: 64px;
}

.img img {
    display: block;
    margin: auto;
}

.manageLimitImg h3 {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7a7978;
}

.manageLimitImg h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0px;
    margin-top: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #102572;
}

.slider {
    display: block;
    margin: 39px auto 30px;
}

.manageLimitImg p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 145.02%;
    text-align: center;
    color: #a5a5a5;
    width: 45%;
    margin: 0px auto;
}

.manageLimitImg span {
    font-weight: 700;
}

.manageLimitButton {
    max-width: 232px;
    width: 35%;
    margin: 64px auto;
}

.manageLimitButton button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
}

.divs {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    padding-right: 16px;
}

.divs input {
    height: 100%;
    padding: 0px;
    border: 0px;
    padding: 16px 16px 16px 24px;
}

.bvn {
    margin-top: 16px;
    width: 100%;
}

.bvn p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #7a7978;
    margin: 0px;
    margin-bottom: 48px;
}

.bvnButton {
    max-width: 232px;
    width: 35%;
    margin-top: 64px;
}

.deleteButton {
    max-width: 232px;
    width: 35%;
    margin-top: 64px;
}

.deleteButton button {
    background-color: red;
}

.deleteButton .disabled {
    background-color: #e6ebee !important;
    color: #cccccc !important;
}
.deleteConfirmation {
    position: absolute;
    top: 203px;
    padding: 33px;
    width: 93%;
    background-color: white;
    border: 1px solid rgba(228, 228, 228, 0.5);
    box-shadow: 0px 6px 24px rgb(0 0 0);
    border-radius: 10px;
}
.deleteButtons button:nth-child(2) {
    background-color: red;
}
.deleteButtons {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.beneficiaryHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rafiki {
    display: block;
    margin: 0px auto;
}
.chatWitUsBt {
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: 20;
    cursor: pointer;
}
.chatWithUs {
    position: absolute;
    bottom: 80px;
    right: 10px;
    z-index: 20;
}

.beneficiaryHead h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135.52%;
    color: #3e3e3e;
    margin: 0px;
}

.beneficiaryHead h2 span {
    margin-right: 21px;
    cursor: pointer;
}

.beneficiaryHead .add {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    margin-left: 6px;
    color: #102572;
}

.beneficiaryHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 48px;
}

.beneficiaryHeader .active {
    width: 50%;
    background: #6ccf00;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 0px;
}

.beneficiaryHeader .active p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

.beneficiaryHeaderDiv {
    width: 50%;
    background: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 12px 0px;
}

.beneficiaryHeaderDiv p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
}

.search {
    display: flex;
    margin: 16px 0px 32px;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 0px 24px;
}

.dontHave {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135.52%;
    color: #3e3e3e;
    margin: 0px;
}

.search input {
    border: 0px;
    padding-left: 0px;
    margin-left: 16px;
}

.text {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
}

.beneForm {
    margin-top: 48px;
}

.beneForm input {
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
    font-weight: 400;
}

.beneForm button {
    margin-top: 48px;
    font-size: 14px;
    line-height: 17px;
}

.sign p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #7a7978;
}

.signBody {
    margin-top: 48px;
}

.signButton {
    width: 232px;
    margin-top: 70px;
}

.signButton button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.signForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signForm:last-child {
    padding-bottom: 32px;
    border-bottom: 1px solid #ebebeb;
}

.midBeneForm {
    width: 48%;
}

.signRights {
    margin-top: 32px;
}

.signRights > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
    margin-bottom: 16px;
}

.signRightSingle {
    background: #f4f4f4;
    border-radius: 8px;
    width: 100%;
    padding: 24px 16px;
    margin-bottom: 16px;
}

.signRightSingle div {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.signRightSingle div:first-child {
    margin-top: 0px;
}

.signRightSingle div input[type='checkbox'] {
    width: 10px;
    height: 10px;
    border: 1px solid #7a7978;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    display: none;
}

.signRightSingle div label {
    width: 16px;
    height: 16px;
    border: 1px solid #7a7978;
    border-radius: 4px;
    position: relative;
}

.signRightSingle div span {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    display: none;
    height: 100%;
}

.signRightSingle div input:checked ~ span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signRightSingle div p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin: 0px;
    color: #3e3e3e;
    margin-left: 16px;
}

.signRights .profileBodyButton {
    margin-top: 64px;
}
.contactEmail {
    color: #235b7f;
    font-size: 14px;
    margin: 30px 0px 20px 0px;
}
.contactWeb {
    color: #235b7f;
    font-size: 14px;
    margin: 30px 0px 20px 0px;
}
.contactUs {
    margin: 30px 0px 20px 0px;
}
.Hello {
    text-align: center;
}

@media screen and (max-width: 1254px) {
    .subProfileHead {
        flex-direction: column;
    }

    .freezeAccount,
    .accountNumber {
        width: 100%;
    }
    .accountNumber {
        margin-top: 10px;
    }

    .accountNumber div {
        width: 70%;
    }

    .profileBodyButton,
    .bvnButton {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1161px) {
    .profileHeaderHead {
        flex-direction: column;
        padding-left: 0px;
    }

    .profileHeaderImg {
        margin: 0px auto;
    }

    .profileBodyHeaderCont {
        margin-left: 0px;
        margin-top: 15px;
        text-align: center;
    }
}
