.confirmLoan > h2 {
    color: #005b82;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.enter div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.enter div input {
    text-align: center;
}
.pinContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pinContainer > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.pinContainer > div > h2 {
    margin: 0px;
    color: #363636;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pinContainer > div > p {
    color: var(--primary-deep-blue, #102572);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;
    margin: 0px;
}

.pinContainer > button {
    width: 200px;
    margin: 0px auto;
}

.successCont {
    width: 100%;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.successSvg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successText {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.successText h2 {
    color: #2b4551;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.successText p {
    color: #121212;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.successText p span {
    color: var(--primary-deep-blue, #102572);
    font-weight: 700;
}

.successCont button {
    width: 255px;
    margin: 0px auto;
}
