.sectionCove {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 85%;
    max-width: 1283px;
    margin: 0px auto;
    justify-content: space-between;
}
.otpDiv{
    padding: 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionI {
    width: 37%;
    max-width: 470px;
    position: relative;
}

.sectionII {
    padding: 200px 0px;
    max-width: 682px;
    width: 53%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.sectionII::-webkit-scrollbar {
    display: none;
}
.loginCont {
    width: 60%;
    max-width: 400px;
    margin: 0px auto;
}

.bvn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 40vh;
    max-width: 417px;
}
.bvn span {
    color: #6ccf00;
}
.welc {
    margin-bottom: 48px;
}

.welc h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    margin: 0px;
    margin-bottom: 0.5rem;
    color: #102572;
}
.welc p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 152.52%;
    color: #6a6a6a;
}
.form div label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    display: block;
    margin-bottom: 8px;
}

.loginForm {
    display: block;
    margin-bottom: 24px;
}

.form button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.accout {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0px;
    margin-top: 24px;
    color: #a5a5a5;
}
.accout span {
    color: #102572;
    font-weight: 700;
}
.visible {
    position: absolute;
}
.errors {
    color: red;
    font-size: 12px;
    margin: 0px;
    margin-top: 5px;
}
.spacing {
    margin-top: 1rem;
}
.divs {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 16px 24px 16px 16px;
}

.divs input {
    height: 100%;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    padding-left: 24px;
}
.remForg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #a5a5a5;
}
.remForg div:nth-child(1) {
    display: flex;
    align-items: center;
    width: 50%;
}

.remForg div:nth-child(1) p {
    margin-left: 12px;
}

.forget {
    cursor: pointer;
}
.error {
    color: red;
    font-size: 12px;
    margin: 0px;
    /* margin-top: -1rem; */
}
.otpInps {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.errorX {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #005b82;
    margin: 0px;
    margin-top: 180px;
}

.otpInps input {
    width: 17%;
    font-size: 52px;
    text-align: center;
    /* padding: 29px 23px; */
    /* height: 70px; */
    border: 1px solid #e6ebee;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    border-radius: 8px;
    color: #102572;
    padding: 0px;
}
.otpInps input:focus {
    border: 1px solid #6ccf00;
    transition: all 0.2s ease-in-out;
}

.otpForm {
    width: 85%;
    margin: 0px auto;
}

.otp {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 20%;
    width: 100%;
}
.otpInn {
    width: 100%;
}
.otp div input {
    background-color: #e7e6e6;
    width: 15% !important;
}

@media screen and (max-width: 1070px) {
    .loginCont {
        width: 80%;
    }
}

@media screen and (max-width: 901px) {
    .sectionCove {
        width: 100%;
        overflow: unset;
        height: unset;
    }

    .sectionI {
        display: none;
    }

    .sectionII {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 353px) {
    .welc h2 {
        font-size: 25px;
    }

    .remForg {
        flex-direction: column;
        width: 100%;
    }

    .remForg div:nth-child(1) {
        justify-content: center;
        width: 100%;
    }

    .remForg div:nth-child(2) {
        text-align: center;
    }
}

@media screen and (max-width: 281px) {
    .welc h2 {
        font-size: 20px;
    }

    .welc p {
        font-size: 12px;
    }
}
