.elevateSuccess {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #8f8f8f;
    width: 57%;
    margin: 8px auto 0px;
}

.elevateSuccess span {
    font-weight: 700;
}
.closeCont svg{
    cursor: pointer;
}
.closeCont {
    display: flex;
    justify-content: right;
    width: 100%;
    padding: 32px 32px 0px 0px;
}
.centerP {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #a5a5a5;
    cursor: pointer;
}

.successcont {
    width: 33%;
    max-width: 500px;
    background: #fefefe;
    border: 1px solid rgba(219, 219, 219, 0.6);
    /* border-radius: 50px; */
    margin: 32px auto;
    /* display: flex; */
    position: absolute;
    padding: 0px;
    top: 3%;
    left: 33%;
    z-index: 10;
}
.noshow {
    display: none;
}
.mainOverlay {
    display: block;
    flex: 1;
    background-color: rgba(245, 246, 250, 0.8);
    padding: 36px 32px 46px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reminder {
    width: 37%;
    margin: 64px auto 10px;
    background: rgba(105, 187, 1, 0.15);
    border-radius: 12px;
}

.reminder p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 24px 16px;
    color: #8fbf00;
}

.successcont button {
    width: 66%;
    margin: 48px auto 16px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.errorCont {
    width: 67%;
    max-width: 400px;
    margin: 0px auto;
    padding: 100px 0px;
}

.errorCont div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorCont h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #005b82;
    margin-bottom: 8px;
}

.errorCont p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #a5a5a5;
    margin: 0px;
}

.errorCont button {
    background-color: #ff0000;
    width: 100%;
}

.successCheck {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #6ccf00;
    box-shadow: 0px 12px 35px rgba(108, 207, 0, 0.5);
    margin: 65px auto 32px;
}

.successCheck div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.repeat {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a5a5a5;
    margin: 0px;
    margin-bottom: 64px;
}

.repeat span {
    color: #102572;
    font-weight: 700;
    cursor: pointer;
}

.bulkTransfer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px auto;
}

.name {
    width: 50%;
}

.amount {
    width: 30%;
}

.status {
    width: 20%;
}

.bulkTransfer p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 29px;
    /* identical to box height */
    color: #005b82;
}

.icons {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-around;
}

.receiptHead {
    width: 100%;
    text-align: center;
    padding: 0px;
}

.receiptHead h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 17px;
    text-align: center;
    color: #102572;
    margin: 24px 0px;
    margin-bottom: 24px;
}

.receiptHead p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 17px;
    text-align: center;
    /* color: #102572; */
}

.receiptBody {
    width: 100%;
    margin-top: 48px;
}

.receiptBody .beneName {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 17px;
    margin: 0px;
    color: #3e3e3e;
}

.receiptBody .currentDate {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 17px;
    margin: 0px;
    margin-top: 12px;
    color: #3e3e3e;
    margin-bottom: 48px;
}

.logo {
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.receiptSingle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    border-bottom: 2px solid #102572;
    padding: 12px 0px;
}

.receiptSingle:first-child {
    border-top: 2px solid #102572;
}

.receiptIcon {
    width: 10%;
    border: 1px solid black;
    padding: 10px;
}

.receiptText {
    width: 85%;
}

.receiptTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 17px;
    margin: 0px;
    color: #3e3e3e;
}

.receiptValue {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    margin: 0px;
    margin-top: 16px;
    color: #3e3e3e;
}
