.staus p{
    margin: 0px;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #00B94A;
}
.staus{
    padding: 4px;
    text-align: center;
    background: rgba(0, 185, 74, 0.19);
border-radius: 2px;
}
.name p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 19px;

color: #102572 !important;
}
.num p{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #69940D !important;

}
.tbody tr td p{
    ont-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #2F2F2F;

}