.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.inputs {
    width: 100%;
    padding: 24px 30px;
    margin-left: 10px;
}
.clr {
    color: #7a7978;
    margin: 0px;
    width: fit-content;
    /* height: fit-content; */
    background-color: white;
    height: 0;
    font-weight: 500;
}
.inp {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4rem;
    color: #3e3e3e;
}
