.bvnBody {
    background: #fefefe;
    box-shadow: 0px 0px 74px -10px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    max-width: 600px;
    padding: 60px 0px;
}

.cover {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 67%;
    max-width: 400px;
    margin: 0px auto;
}
.inputs {
    width: 100%;
    padding: 24px 30px;
    margin-left: 10px;
}
.clr {
    margin: 0px;
    background-color: white;
    width: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #a5a5a5;
}
.inp {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3e3e3e;
    margin: 0px;
    margin-top: 64px;
    margin-bottom: 16px;
}
