
.visibility {
    display: flex;
    align-items: center;
}

.visibility span {
    margin-left: 8px;
    margin-top: 0px;
    z-index: 1 !important;
}
.accountStuff{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;
}

.adsDiv{
    display:flex;
    gap: 20px;
}
.adsDiv h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 16px;
/* or 80% */


color: #FFFFFF;
}
.adsDiv p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 19px;
    color: #FFFFFF;
}
.accoutDetails{
display: flex;
flex-direction: column;
gap: 8px;
}
.thousand {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin: 0px;
    /* width: 220px; */
}.accountNumbers{
    padding: 0px;
    width: 41%;
    background: no-repeat;
    border: navajowhite;
    color: white;
    }
    .assctDrop{
        display: flex;
        align-items: center;
    }

.avail {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin: 0px;
}
