.formGroup {
    margin-top: 32px;
}

.formGroup label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
    margin-bottom: 16px;
    display: block;
}

.formGroup div {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}
