.schedulepayment {
    width: 48%;
    max-width: 600px;
    background-color: white;
    border-radius: 20px;
    margin: 32px auto;
    display: flex;
    position: absolute;
    top: 5%;
    left: 33%;
    z-index: 10;
}
