.profileLayoutCont {
    display: flex;
    width: 100%;
}

.profileLayoutHead {
    width: 41%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px;
}

.profileLayoutBody {
    width: 58%;
    background: #ffffff;
    border-radius: 16px;
    margin-left: 20px;
    padding: 48px 48px 0px 48px;
}

@media screen and (max-width: 1000px) {
    .profileLayoutCont {
        flex-direction: column;
    }

    .profileLayoutBody,
    .profileLayoutHead {
        width: 80%;
        margin: 0px auto;
    }

    .profileLayoutBody {
        margin-top: 10px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 700px) {
    .profileLayoutBody,
    .profileLayoutHead {
        width: 100%;
    }
}
