.profileLayoutCont {
    display: flex;
    width: 100%;
}

.profileLayoutHead {
    width: 32%;
    background-color: #ffffff;
    border-radius: 16px;
    height: fit-content;
    padding-bottom: 47px;
}

.profileLayoutBody {
    width: 58%;
    background: #ffffff;
    border-radius: 16px;
    margin-left: 20px;
    height: 80vh;
    overflow: scroll;
    padding: 48px 48px 48px 48px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.profileLayoutBody::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1000px) {
    .profileLayoutCont {
        flex-direction: column;
    }

    .profileLayoutBody,
    .profileLayoutHead {
        width: 80%;
        margin: 0px auto;
    }

    .profileLayoutBody {
        margin-top: 10px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 700px) {
    .profileLayoutBody,
    .profileLayoutHead {
        width: 100%;
    }
}
