.firstDiv {
    width: 63%;
    max-width: 781px;
    background-color: white;
    border-radius: 50px;
    margin: 32px auto;
    display: flex;
    position: absolute;
    top: 5%;
    left: 33%;
    z-index: 10;
}

.firstDiv > div:last-child {
    /* height: 100%; */
    width: 30%;
    background-color: #396805;
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
}

.firstDiv > div:last-child .greenImg {
    height: 100%;
    width: 100%;
    position: relative;
}

.closebtn {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

.firstBody {
    width: 70%;
}

.firstBody > div {
    width: 72%;
    margin: 48px auto;
}

.firstBody h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #102572;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    margin-bottom: 32px;
}

.error {
    color: red;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.firstBody .accept {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #bdbdbd;
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
}

.formGroup {
    margin-top: 24px;
}

.formGroup label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
    font-family: 'Inter', sans-serif;
    /* margin-bottom: 12px; */
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    margin-top: 12px;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    color: #3e3e3e;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding: 16px;
}

.formGroup textarea {
    height: 150px;
    outline: none;
}

.firstBody button {
    margin-top: 32px;
}

.later {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #cccccc;
    line-height: 17px;
    margin-top: 32px;
}

.later span {
    font-weight: 700;
}
