.selectCont {
    position: relative;
    width: 100%;
}

.selectCountry {
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 16px 23px 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.selectCountry > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.selectCountry .flagDiv {
    display: flex;
    align-items: center;
}

.selectCountry div .flags {
    width: 42px;
    /* height: 15px; */
}

.selectCountry .flags img {
    width: 100%;
    height: 15px;
}

.selectCountry div p {
    display: flex;
    margin-left: 12px;
    text-transform: uppercase;
}

.selectCountry p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
}

.dropdown {
    width: 5%;
}

.dropdown img {
    width: 100%;
}

.selectOption {
    height: 50vh;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    background-color: #f8f8f8;
    border-radius: 12px;
    margin: 0px;
    padding: 0px;
    z-index: 15;
    /* top: 0; */
}

.selectOption li {
    list-style-type: none;
    display: flex;
    cursor: pointer;
    padding: 12px 24px;
}

.selectOption img {
    width: 10%;
}

.selectOption li p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #235b7f;
    text-transform: uppercase;
    margin-left: 12px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 1rem;
}
