.cover {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    overflow: hidden;
    height: 100vh;
}

.doYou h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3e3e3e;
}
.accout {
    text-align: center;
    color: #a5a5a5;
}
.wrap {
    display: inline-flex;
    margin-left: -1rem;
    width: 100%;
    padding-bottom: 2rem;
}
.wrap input {
    width: 10%;
}
.accout span {
    color: #005b82;
    font-weight: 600;
}

.sectionI div {
    width: 100%;
}

.bvn {
    z-index: 10;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #ffffff;
    width: 56%;
    margin: 32vh auto 0px;
    max-width: 417px;
}
.termcondition {
    width: fit-content;
    margin-bottom: 2rem;
    margin-right: 0.75rem;
    accent-color: #6ccf00;
    margin-top: 3.05rem;
    margin-bottom: 4rem;
}
.termcondition label span {
    color: #005b82;
}
.bvn span {
    color: #6ccf00;
    font-weight: 700;
}
.sectionI {
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url('/Assets/Images/signupimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.sectionI img {
    position: absolute;
    width: 100%;
}

.sectionII {
    width: 50%;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    margin-top: auto;
}
.sectionII > div {
    max-width: 26rem;
    width: 25rem;
    padding-top: 55px;
    margin: 0px auto;
}
/* .sectionII::-webkit-scrollbar {
    display: none;
} */
.textInput {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 21px 27px;
}
.signup {
    font-weight: 700;
    color: #005b82;
    font-size: 36px;
}
/* omniligte section css */
.omnisets {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 10%;
}
.active {
    background: #6ccf00;
    transition: all 0.3s ease-in-out;
    filter: none;
    padding: 28% 18% 25% 34%;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #dbdbdb;
}
/* .active svg {
    fill: blue;
} */
.notActive {
    padding: 28% 18% 25% 34%;
    border-radius: 12px;
    cursor: pointer;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
}
.cov {
    width: 22%;
}
.choose {
    color: #3e3e3e;
    font-weight: 400;
}
section .input-wrapper {
    display: flex;
    align-items: baseline;
}
.termss {
    color: #005b82;
    cursor: pointer;
}
.Log {
    background-color: #f8f8f8;
    padding: 2rem;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    border-color: #dedede;
}
.divs {
    display: flex;
}
.name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 0.85rem;
    color: #7a7978;
}
/* end  */
.ButtonWrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 1rem;
    background: #f8f8f8;
    border-radius: 12px;
}
.ToggleNo {
    width: 50%;
    height: 50px;
    background: #6ccf00;
    border-radius: 12px;
    cursor: pointer;
}
.ToggleNo:hover {
    background: #6ccf00;
    transition: all 0.2s ease-in-out;
}
.ToggleYes {
    width: 50%;
    height: 50px;
    border-radius: 12px;
    background: #f8f8f8;
    cursor: pointer;
}
.ToggleYes:hover {
    background: #6ccf00;
    transition: all 0.2s ease-in-out;
}
.ToggleNoText {
    color: #ffffff;
    text-align: center;
}
.ToggleYesText {
    color: #a5a5a5;
    text-align: center;
}

.visibility {
    display: flex;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: -1rem;
}

.errorCont {
    width: 100%;
    margin-top: -1rem;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}

.errorCont p {
    margin: 0px;
}

.errors {
    background-color: red;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    padding: 1px 0px;
    transition: 2s all ease;
}

.medium {
    background-color: blue;
    color: white;
    width: 70%;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    padding: 1px 0px;
    transition: 2s all ease;
}

.strong {
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    padding: 1px 0px;
    transition: 2s all ease;
}
