.form div label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #3e3e3e;
}
.busAdd {
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 24px;
}
.resendFlex {
    display: flex;
    justify-content: space-between;
}
.busInp {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
}
.open {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height, or 161% */

    text-align: center;
    cursor: pointer;
    color: #a5a5a5;
}
.genderPart {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.genderPart input {
    margin-right: 8px;
}
.radioInput {
    width: 30%;
}
.genBtm {
    margin-bottom: 0px;
}
.genders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: fit-content;
    margin-bottom: 0px;
}
.open span {
    color: #005b82;
}
.ent {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #3e3e3e;
}
.clr {
    color: #7a7978;
    margin: 0px;
    width: fit-content;
    /* height: fit-content; */
    background-color: white;
    height: 0;
    font-weight: 500;
}
.header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #005b82;
    margin-bottom: 20px;
}
.cardHeading {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
}

.cardHeading div {
    display: flex;
    align-items: center;
}

.cardHeading div svg {
    cursor: pointer;
}

.p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    /* or 141% */
    color: #005b82;
    text-align: left;
}
.LeftHeading {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    color: #005b82;
    margin-left: 10px;
}
.ButtonWrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 1rem;
    background: #f8f8f8;
    border-radius: 12px;
}
.ToggleNo {
    width: 50%;
    height: 50px;
    background: #6ccf00;
    border-radius: 12px;
    cursor: pointer;
}
.ToggleNo:hover {
    background: #6ccf00;
    transition: all 0.2s ease-in-out;
}
.ToggleYes {
    width: 50%;
    height: 50px;
    border-radius: 12px;
    background: #f8f8f8;
    cursor: pointer;
}
.ToggleYes:hover {
    background: #6ccf00;
    transition: all 0.2s ease-in-out;
}
.ToggleNoText {
    color: #ffffff;
    text-align: center;
}
.ToggleYesText {
    color: #a5a5a5;
    text-align: center;
}
.innerButtonWrapper {
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 2rem;
    background: #f8f8f8;
}
.inps {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bord {
    border: 1px solid #dcdcdc;
    padding: 24px 2rem 3rem 2rem;
    border-radius: 20px;
}
.innerToggleNo {
    width: 50%;
    height: 50px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: rgba(108, 207, 0, 0.3);
}
.innerToggleNo:hover {
    background: rgba(108, 207, 0, 0.3);
}
.innerToggleYes {
    width: 50%;
    height: 50px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.innerToggleYes:hover {
    background: rgba(108, 207, 0, 0.3);
}
.innerToggleNoText {
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #407a00;
    font-weight: 700;
}
.innerToggleYesText {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #a5a5a5;
}

.innerGenderWrapper {
    width: 100%;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.innerLastFieldAndButton {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}
.formInner {
    border: 1px solid rgba(219, 219, 219, 0.6);
    padding: 2rem 1rem 2rem 1rem;
    margin-top: 3rem;
    border-radius: 12px;
    opacity: 0.7;
}
.terms {
    display: flex;
    align-items: center;
}
.terms label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #2f2f2f;
    margin-left: 12px;
}

.terms label span {
    cursor: pointer;
    color: #005b82;
}
.formInner div label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #3e3e3e;
    margin-bottom: 10px;
}
.inps label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3e3e3e;
    margin-bottom: 10px;
}

.inps select {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    background-image: url(../../../public/Assets/Svgs/arrow-down.svg);
    color: #3e3e3e;
    margin-top: 8px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 50%;
    margin-bottom: 14px;
}
.textInput {
    margin-bottom: 14px;
    margin-top: 8px;
    background-color: #ffffff;
}
.formInner div {
    margin-bottom: 20px;
}
.divs {
    display: flex;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: -1rem;
}
.btns {
    display: flex;
    justify-content: space-between;
}
.btns button {
    width: 47%;
}

.errorCont {
    width: 100%;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}

.errorCont p {
    margin: 0px;
}

.errors {
    background-color: red;
    color: white;
    width: 30%;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    padding: 1px 0px;
    transition: 2s all ease;
}

.medium {
    background-color: blue;
    color: white;
    width: 70%;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    padding: 1px 0px;
    transition: 2s all ease;
}

.strong {
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    padding: 1px 0px;
    transition: 2s all ease;
}
.imageOut{
    display: flex;
    justify-content: center;
}
.imageInner{
    overflow: hidden;
    border-radius: 50%;
    height:43vh;
}