.loginWithClass {
    max-width: 25rem;
}
.cvvCode {
    display: flex;
    /* justify-content: space-between; */
}
/* .cvvCode div {
    width: 40%;
} */
.notLog {
    display: none;
    transition: all 0.6s ease-in-out;
}
.form div label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3e3e3e;
}
.idInput {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-color: white;
    color: #7a7978;
}
.passwordInput {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: white;
    line-height: 19px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: #005b82;
}
.show {
    display: flex;
    transition: all 0.5s ease-in-out;
}
.noShow {
    display: none;
    transition: all 0.5s ease-in-out;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: -1rem;
}
.form div label {
    color: #3e3e3e;
    font-size: 16px;
}
.termss {
    color: #005b82;
    cursor: pointer;
}
.terms {
    display: flex;
    font-size: 13px;
}
.terms input {
    width: 3%;
}

/* omnilite section css end  */
