.table {
    padding: 32px 32px;
    box-shadow: 4px 14px 34px -11px #ededed;
    border-radius: 16px;
    background-color: white;
    margin-top: 32px;
}
.tables {
    width: 100%;
}
.notrans {
    text-align: center;
}

.noRecent {
    text-align: center;
    margin: 20px 0px;
}

.tableHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.tableHeader h2 {
    color: #102572;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
}

.tableFilter {
    display: flex;
    /* width: 40%; */
    justify-content: space-between;
}

.tableFilter div {
    width: 239px !important;
    border-radius: 8px;
    border: 1px solid #dae1ff;
    display: flex;
    background-color: transparent;
}

.tableFilter div img {
    margin-left: 16px;
    width: 10px;
}

.tableFilter input {
    border: none;
    padding: 8px 16px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: transparent;
}

.tableFilter input::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 17px;
    color: #bfbfbf;
}

.tableFilter select {
    width: 150px;
    margin: 0px;
    background-color: #005b82;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding: 8px 16px;
    margin-left: 16px;
    color: white;
    border: none;
    background-image: url(../../../public/Assets/Svgs/Vector\ 26.svg);
    background-position-x: 84%;
    background-position-y: 55%;
}

.tableFilter button span {
    margin-left: 16px;
}
.TableDetailHeaders {
    display: flex;
    width: 100%;
    border-radius: 4px;
    padding: 10px 0px 10px 24px;
}

.TableDetailHeaders p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #3e3e3e;
    line-height: 17px;
    text-align: left;
}
.TableDetailHeader {
    display: flex;
    width: 100%;
    background: #f5f6fa;
    border-radius: 4px;
    padding: 10px 0px 10px 24px;
}

.TableDetailHeader p {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #3e3e3e;
    line-height: 17px;
    text-align: left;
}

.beneficiary {
    width: 24%;
}

.type {
    width: 17%;
}

.amount {
    width: 20%;
}

.status {
    width: 14%;
}
.statuss {
    width: 27%;
    text-align: center !important;
}
.more {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.date {
    width: 20%;
}
.paginationBtns {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.paginationBtns li {
    padding: 10px;
    border-radius: 5px;
    /* border: 1px solid #6ccf00; */
    color: #6ccf00;
    /* cursor: pointer; */
    font-size: 15px;
}
.failed {
    color: rgb(213, 28, 28) !important;
}
.faileds {
    width: 27%;
    text-align: center !important;
    color: rgb(213, 28, 28) !important;
}
.success {
    color: #6ccf00 !important;
}
.successs {
    width: 27%;
    text-align: center !important;
    color: #6ccf00 !important;
}
.paginationBtns a {
    cursor: pointer;
}
.pending {
    color: rgba(177, 132, 36, 0.805) !important;
}
.pendings {
    width: 27%;
    text-align: center !important;
    color: rgba(177, 132, 36, 0.805) !important;
}
.paginationActive {
    background-color: #6ccf00;
    color: white;
}

.paginationActive a {
    color: white;
}

@media screen and (max-width: 996px) {
    .TableDetailHeader {
        display: none;
    }
    .tableHeader h2 {
        color: #102572;
        font-size: 13px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        line-height: 19.36px;
    }

    .tableFilter {
        display: flex;
        /* width: 40%; */
        justify-content: space-between;
    }

    .tableFilter div {
        width: 239px !important;
        border-radius: 8px;
        border: 1px solid #dae1ff;
        display: flex;
        background-color: transparent;
    }

    .tableFilter div img {
        margin-left: 16px;
        width: 10px;
    }

    .tableFilter input {
        border: none;
        padding: 8px 16px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: transparent;
    }

    .tableFilter input::placeholder {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        line-height: 17px;
        color: #bfbfbf;
    }

    .tableFilter select {
        width: 91%;
        margin: 0px;
        background-color: #005b82;
        border-radius: 8px;
        font-size: 11px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        padding: 8px 16px;
        margin-left: 16px;
        color: white;
        border: none;
        background-image: url(../../../public/Assets/Svgs/Vector\ 26.svg);
        background-position-x: 84%;
        background-position-y: 55%;
    }

    .tableFilter button span {
        margin-left: 16px;
    }
    .table {
        padding: 32px 3px;
        box-shadow: 4px 14px 34px -11px #ededed;
        border-radius: 16px;
        background-color: white;
        margin-top: 32px;
    }
}
