.greencard {
    padding: 16px 24px 16px 24px;
    background: #69940d;
    border-radius: 16px;
    width: 100%;
    margin-top: 80px;
}

.greencard h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0px;
}

.greencardDetails {
    display: flex;
    /* align-items: center; */
}

.greencard p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-top: 8px;
}

.greencard p span {
    font-weight: 700;
}

.cov {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.whiteboard {
    padding: 16px 32px 16px 32px;
    background-color: #fff;
    width: 49%;
    border-radius: 16px;
}

.balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.thousand {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #69940d;
    margin: 0px;
}

.avail {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3e3e3e;
    margin: 0px;
}

.percentage {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #3e3e3e;
    line-height: 16px;
}

.percentage span {
    color: #69940d;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin-right: 8px;
}
