.cover {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.prog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dets {
    border: 1px solid #d3d3d3;
    padding: 2rem;
    border-radius: 12px;
}
.male {
    display: flex;
    align-items: baseline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #a5a5a5;
}
.female {
    display: flex;
    align-items: baseline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #a5a5a5;
}
.genderInps {
    display: flex;
    justify-content: space-between;
    width: 43%;
    align-items: baseline;
}
