.cover {
    width: 100%;
    display: flex;
}

.sectionI {
    background: url('/Assets/Images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.bvn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 40vh;
    max-width: 417px;
}
.bvn span {
    color: #6ccf00;
}

.sectionII {
    width: 50%;
    height: 100vh;
    padding: 120px 0px;
}

.bodyWrapper {
    width: 54%;
    max-width: 400px;
    margin: 0px auto;
}

.businessCont {
    height: 70vh;
    overflow-y: scroll;
}

.businessCont::-webkit-scrollbar {
    display: none;
}

.businessCont button {
    margin-top: 60px;
}

.cov {
    height: 100vh;
    width: 100%;
}
.prog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dets {
    border: 1px solid #d3d3d3;
    padding: 2rem;
    border-radius: 12px;
}
.label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3e3e3e;
}
.male {
    /* width: 64%; */
    /* display: flex; */
    align-items: baseline;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #a5a5a5;
}
.female {
    /* width: 64%; */
    display: flex;
    align-items: baseline;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #a5a5a5;
}
.genderInps {
    display: flex;
    /* justify-content: space-between; */
    /* width: 30%; */
    align-items: center;
}
.fmLabel {
    color: #a5a5a5;
}
