.rec {
    width: 45%;
    max-width: 154px;
}
.comp {
    display: flex;
    font-family: 'Inter';
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 11px;
    /* identical to box height, or 79% */

    text-align: center;

    color: #005b82;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.comp p:nth-child(2) {
    margin-left: 13.16px;
}
.dontshow {
    display: none;
}
.dat {
    display: block;
    position: absolute;
    top: 186px;
    left: 31px;
    z-index: 1;
    padding: 31px 28px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
