.body {
    width: 46%;
    max-width: 152px;
}

.rec {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
}
.comp {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    color: #005b82;
}
.comp p:nth-child(2) {
    margin-left: 13.16px;
    margin-top: 14.6px;
    margin-bottom: 14.6px;
}
.dontshow {
    display: none;
}
.dat {
    display: block;
    position: absolute;
    z-index: 1;
    padding: 12px 12px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
