.cov {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.imageName {
    display: flex;
}

.userName {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    color: #102572;
}

.company {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3e3e3e;
    margin: 0px;
    margin-top: 2px;
}

.notification {
    width: 50px;
    height: 50px;
    background: rgba(201, 201, 201, 0.13);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightNav {
    display: flex;
    align-items: center;
    width: 58%;
    max-width: 677px;
    justify-content: flex-end;
}
.srch {
    background-color: rgba(201, 201, 201, 0.13);
    background-image: url('/Assets/Svgs/Srch.svg');
    background-position: 8%;
    background-repeat: no-repeat;
    padding-left: 65px;
    border: none;
    border-radius: 8px;
}

.rightNav form {
    width: 81%;
}

.notificationBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightNav div {
    margin-left: 16px;
}
/* .cov {
    display: flex;
    justify-content: flex-end;
}
.navigation {
    display: flex;
    position: absolute;
    align-items: center;
    width: 78vw;
    justify-content: space-between;
    padding: 3rem 2rem 0rem 2rem;
}
.imageName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.imageName img {
    cursor: pointer;
}

.name {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    color: #102572;
    cursor: pointer;
}
.company {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
    margin: 0px;
    margin-top: 4px;
}
 */
