.noshow {
    display: none;
}
.mainOverlay {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    /* padding: 36px 32px 46px 32px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    z-index: 15;
}

.header {
    position: relative;
    width: 100%;
}

.body {
    width: 70%;
    margin: 84px auto;
}
.body h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #005b82;
}

.closeBtn {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}
