/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Work+Sans:wght@300;500;800;900&display=swap');

:root {
    --global-button-padding: 1.2rem 0rem 1.2rem 0rem;
    /* --global-button-padding: 1.2rem 12.568rem 1.2rem 12.568rem; */
    --global-button-color: #ffffff;
    --global-button-backgroundColor: #6ccf00;
    --global-button-border: none;
    --global-button-borderRadius: 12px;
    --global-select-borderRadius: 12px;
    --global-select-padding: 1rem 1rem;
    --global-select-borderColor: #dbdbdb;
    --global-select-backgroundColor: #f8f8f8;
    --global-select-color: #235b7f;
    --global-inputtext-padding: 1rem 1rem;
    --global-label-color: blue;
    /* --global-label-fontSize: 5rem; */
}

/* CSS Reset */
body {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'inter';
    src: url('/Assets/Fonts/Inter/Inter-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('/Assets/Fonts/Inter/Inter-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('/Assets/Fonts/Inter/Inter-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('/Assets/Fonts/Inter/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
/* @font-face {
      font-family: 'Neue Power Trial';
      src: url('/Assets/Font/NeuePowerTrial/NeuePowerTrial-Regular.ttf');
      font-weight: 500;
      font-style: normal;
      }
      @font-face {
        font-family: 'olivier';
        src: url('/Assets/Font/olivier_demo.ttf');
        font-weight: 500;
        font-style: normal;
        } */
html,
* {
    /* padding: 0;
    margin: 0; */
    font-family: inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #3e3e3e;
}
select {
    border-radius: var(--global-select-borderRadius);
    background-color: var(--global-select-backgroundColor);
    padding: var(--global-select-padding);
    border-color: var(--global-select-borderColor);
    color: var(--global-select-color);
    cursor: pointer;
    outline: none;
    font-size: 14px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('/Assets/Svgs/dropdownSvg.svg');
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 50%;
}
input {
    border-radius: var(--global-select-borderRadius);
    background-color: var(--global-select-backgroundColor);
    padding: var(--global-inputtext-padding);
    /* border-color: var(--global-select-borderColor); */
    border: 1px solid #dbdbdb;
    color: var(--global-select-color) !important;
    position: relative;
    width: 100%;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dcdcdc;
    opacity: 1; /* Firefox */
}
button {
    padding: var(--global-button-padding);
    color: var(--global-button-color);
    background-color: var(--global-button-backgroundColor);
    border: var(--global-button-border);
    border-radius: var(--global-button-borderRadius);
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}
button:hover {
    transition: all 0.5s ease-in-out;
    padding: var(--global-button-padding);
    color: var(--global-button-color);
    background-color: #305608;
    border: var(--global-button-border);
    border-radius: var(--global-button-borderRadius);
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}
table {
    border-collapse: collapse;
}
