.firstDiv {
    width: 63%;
    max-width: 781px;
    background-color: white;
    border-radius: 50px;
    margin: 0px auto;
    display: flex;
    position: absolute;
    height: 80vh;

    top: 3.7%;
    left: 25%;
    z-index: 10;
}
.firstDivs {
    width: 63%;
    max-width: 781px;
    background-color: white;
    border-radius: 50px;
    margin: 0px auto;
    display: flex;
    position: absolute;
    top: 3.7%;
    left: 33%;
    z-index: 10;
}

.error {
    color: red;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.firstDiv > div:last-child {
    width: 30%;
    background-color: #102572;
    border-radius: 0px 50px 50px 0px;
    overflow: hidden;
}

.firstDiv > div:last-child .greenImg {
    height: 100%;
    width: 100%;
    position: relative;
}

.closebtn {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

.firstBody,
.bulkBody {
    width: 70%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.firstBody::-webkit-scrollbar,
.bulkBody::-webkit-scrollbar {
    display: none;
}

.firstBody > div {
    width: 72%;
    margin: 48px auto;
}

.firstTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #102572;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    margin-bottom: 32px;
}

.bulkHeader {
    width: 72%;
    margin: 48px auto 0px;
}

.bulkHeader h2 {
    margin-bottom: 56px;
}

.bulkWrapper {
    width: 72%;
    margin: 0px auto;
}

.choose {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3e3e3e;
    margin: 0px;
}

.beneficiary {
    margin-bottom: 48px;
}

.beneficiaryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.beneficiaryHeader h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
}

.beneficiaryHeader p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0px;
    color: #bdbdbd;
    cursor: pointer;
}

.beneficiaryBody {
    margin-top: 12px;
    width: 100%;
    height: 15vh;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.beneficiaryBodyNo {
    margin-top: 12px;
    width: 100%;
}

.beneficiaryBody::-webkit-scrollbar {
    display: none;
}

.beneficiaryBody h2,
.beneficiaryBodyNo h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
    margin-top: 8px;
}

.beneficiarySearch {
    width: 50%;
    display: flex;
    border-radius: 8px;
    /* border: 1px solid #dae1ff; */
    background-color: #f7f7f7;
    padding-left: 12px;
}

.beneficiarySearch input {
    border: none !important;
    padding: 8px 16px !important;
    box-sizing: border-box;
    overflow: hidden;
    background-color: transparent !important;
}

.beneficiarySingle:first-child {
    margin-left: 0px;
}

.beneficiarySingle {
    width: 30%;
    max-width: 100px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
}

.beneficiarySingle svg {
    margin: 0px auto;
    display: block;
}

/* .beneficiarySingle div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.beneficiarySingle div img {
    margin: auto;
}

.beneficiaryIcon {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.name {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #a4a4a4;
    margin-top: 5px;
}

.benebank {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0px;
    margin-top: 2px;
    color: #a4a4a4;
    text-align: center;
}

.source {
    width: 50%;
    max-width: 200px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.source h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    margin: 0px;
    color: #102572;
}

.source span {
    font-weight: 500;
    color: #7a7978;
}

.firstBody label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
    display: block;
}

.firstBody label span {
    font-weight: 400;
    font-style: italic;
}

.billerAmount {
    margin-top: 16px;
}

.firstBody input[type='number']::-webkit-inner-spin-button,
.firstBody input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
    background-color: #ffffff;
}

.firstBody input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.firstBody input[type='text'] {
    width: 100%;
    padding: 16px;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    color: #3e3e3e;
}

.firstBody input::placeholder {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: rgba(62, 62, 62, 0.5);
    font-weight: 400;
}

.accountDetails {
    margin-top: 24px;
}

.accountDetailsBody {
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    width: 100%;
    padding: 16px;
}

.accountDetailsBodys {
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    width: 100%;
    padding: 16px;
    margin-top: 24px;
}

.accountDetailsBodys:first-child {
    margin-top: 12px;
}

.accountDetailSingle {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    width: 100%;
}

.accountDetailSingleInput {
    width: 57%;
}

.accountDetailsBody input[type='text'],
.accountDetailsBodys input[type='text'] {
    background-color: #ffffff;
}

.accountDetailSingleSelect {
    width: 40%;
}

.accountDetailSingleSelect select {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    background-image: url(../../../public/Assets/Svgs/arrow-down.svg);
    color: #3e3e3e;
}

.narration {
    margin-top: 16px;
}

.narration input,
.narration select {
    background-color: #f4f4f4;
}

.saveBene {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 48px;
}

.beneCheck {
    position: relative;
    width: 48px;
    height: 18px;
    cursor: pointer;
    margin-bottom: 0px !important;
}

.beneCheck input {
    position: absolute;
    z-index: 1;
    width: unset;
    display: none;
}

.beneCheck span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: #f5f5f5;
    border-radius: 100px;
    transition: 0.5s;
}

.beneCheck span i {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #dfdfdf;
    bottom: -2px;
    top: -2px;
    left: -4px;
    transition: 0.5s;
}

.beneCheck input:checked ~ span i {
    left: 24px;
}

.beneCheck input:checked ~ span {
    background: #6ccf00;
}

.saveBene p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
    margin: 0px;
    margin-left: 8px;
}

.repeat {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.repeat input[type='checkbox'] {
    width: unset;
    border: 1px solid #005b82;
    border-radius: 24px;
}

.repeat p {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 17px;
    color: #2f2f2f;
    margin-left: 24px;
}

.same {
    font-size: 14px;
}

.schedule {
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
}

.schedule span {
    font-weight: 700;
    color: #102572;
    cursor: pointer;
}

.destinationCountry {
    display: flex;
    justify-content: space-between;
}

.destinationCountry div {
    width: 49%;
}

.destinationCountry select {
    background-color: #f8f8f8;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    background-image: url(../../../public/Assets/Svgs/arrow-down.svg);
    color: #3e3e3e;
}

.EnterAmount {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
}

.EnterAmount div {
    width: 49%;
}

.EnterAmount select {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    background-image: url(../../../public/Assets/Svgs/arrow-down.svg);
    color: #3e3e3e;
}

.billerType,
.billerCategory {
    width: 100%;
}
.billerCategory {
    margin-top: 16px;
}

.billerType label,
.billerCategory label {
    margin-bottom: 0px;
}

.billerType select,
.billerCategory select {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    background-image: url(../../../public/Assets/Svgs/arrow-down.svg);
    color: #3e3e3e;
    margin-top: 8px;
}

.billerType input {
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    color: #bdbdbd;
}

.addedFormCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.bulkLabel {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-bottom: 8px;
    color: #7a7978;
}

.beneTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
    display: block;
    margin-top: 16px;
    color: #102572;
}

.addedFormCont div {
    width: 47%;
}

.oldForm {
    display: flex;
    justify-content: flex-end;
    width: 96%;
    margin-top: 24px;
}

.oldFormBody {
    /* width: 89%; */
    width: 440px;
    display: flex;
    justify-content: space-between;
}

.formCont {
    display: flex;
    align-items: center;
    width: 86%;
    justify-content: space-between;
}

.formGroup {
    margin-bottom: 16px;
    width: 100%;
}

.formGroup select {
    background-color: #f4f4f4;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
}

.other {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}

.other .otherActive {
    width: 50%;
    background: #6ccf00;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 0px;
}

.other .otherActive p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

.otherDiv {
    width: 50%;
    background: #f4f4f4;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 12px 0px;
}

.otherDiv p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
}

.displayNone {
    display: none;
}

.plus {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    padding: 0px;
    background: #102572;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}

.minus {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    padding: 0px;
    color: white;
    font-size: 45px;
    background: red;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}

.uploadCsv {
    padding-bottom: 16px;
    border-bottom: 2px solid #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uploadCsv p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
    margin-top: 0px;
}

.uploadCsvs {
    padding-bottom: 16px;
    border-bottom: 2px solid #f6f6f6;
    display: flex;
    justify-content: space-between;
}

.uploadCsvs p {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #a5a5a5;
    margin-top: 0px;
}

.uploadCsvs p span {
    font-weight: 700;
    color: #102572;
    cursor: pointer;
    margin: 0px;
}

.uploadCsvs input {
    display: none;
}

.actionButtons {
    display: flex;
}

.amountDiv {
    margin-top: 16px;
}

.bulkWrapper button {
    margin-top: 112px;
}

.foreignBody {
    margin-top: 48px;
}

.foreignBody .formGroup {
    width: 100%;
}

.foreignBody button {
    margin-top: 70%;
}

.foreignBodyTwo {
    margin-top: 24px;
}

.foreignBodyTwo .formGroup {
    width: 100%;
}

.foreignBodyTwo button {
    margin-top: 48px;
}

.amountCont {
    padding-bottom: 24px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 24px;
}

.billSingle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-top: 2px solid #f6f6f6;
    padding: 20px 16px;
    cursor: pointer;
}

.billSingle:first-child {
    border-bottom: 0px;
}

.billSingle:last-child {
    border-bottom: 2px solid #f6f6f6;
}

.billSingle p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
}

.networkCarrier {
    width: 100%;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px solid #f6f6f6;
}

.networkCarrier h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #7a7978;
    margin: 0px;
    margin-bottom: 8px;
}

.networkBody {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.networkSingle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.3;
}

.networkSingle .greye {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(165, 165, 165, 0.8);
    border-radius: 50%;
}

.networkSingle .networkContent {
    width: 90%;
    height: 90%;
    display: flex;
}
.networkActive {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #102572;
}

.networkActive .networkContent {
    width: 90%;
    height: 90%;
    display: flex;
}

.networkForm {
    margin-top: 24px;
}

.networkForm .formGroup {
    width: 100%;
}

.networkForm button {
    margin-top: 48px;
}

.body {
    margin-top: 48px;
}
